@import '../libs/reset-css/_reset';

body {
    font-family: Verdana, Arial;
}

img {
    max-width: 100%;
}

section.profit {
	background: #232324;
	padding: 15px 0;
}

.wrap{
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
	padding: 0 5px;
	overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .item {
        border: 1px solid #fff;
        text-align: center;
        background: #fff;
        flex-basis: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 813px) {
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
        
        .img {
            margin: 0 10px 0 0;
            width: 100px;
            flex-grow: 1;
        }
        
        .text {
            text-align: left;
            font-style: italic;
            width: 290px;
            flex-grow: 1;
        }
    }
}
