@import '../libs/reset-css/_reset';

body {
    font-family: Verdana, Arial;
}

img {
    max-width: 100%;
}

section.profit {
	background: #232324;
	padding: 15px 0;
}

.wrap{
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
	padding: 0 5px;
	overflow: hidden;
    
    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .item {
            flex-basis: 200px;
            background-color: cornsilk;
            padding: 10px 15px;
            margin: 5px;
            display: flex;
            flex-direction: column;
            text-align: center;
            
            img {
                width: 150px;
                height: 150px;
                border-radius: 50%; /* Радиус скругления */
                border: 3px solid green; /* Параметры рамки */
                box-shadow: 0 0 7px #666; /* Параметры тени */
                align-self: center;
            }
            
            h2 {
                margin: 15px 0;
            }
            
            p {
                margin: auto 0 15px 0;
            }
            
            button {
                background-color: cadetblue;
                border: none;
                color: aliceblue;
                padding: 10px 20px;
                font-size: 16px;
            }
        }
    }
}

.test {
    width: 25%;
    margin: 20px auto;
    border: solid 4px red;
    
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%; /* Радиус скругления */
        border: 3px solid green; /* Параметры рамки */
        box-shadow: 0 0 7px #666; /* Параметры тени */
    }
}