@import '../libs/reset-css/_reset';

body {
    font-family: Verdana, Arial;
}

.article {
	max-width: 600px;
	padding: 5px;
	margin: 20px auto;
	border: 1px solid black;
	border-radius: 10px;
}

.meta {
	background: #ddd;
	padding: 5px 0;
	overflow: hidden;
	font-size: 20px;
}

.article {
    display: flex;
    flex-wrap: wrap;
}

.cat {
    flex-grow: 2;
}

.dt {
    flex-grow: 1;
    text-align: center;
}
